.divMainItogPage{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9vw;
}
.divTitleAndTableItog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.tableItogPage{
    border-collapse: collapse;
    border: 2px solid black;
    width: 70vw;
    margin-left: 10vw;
}
.spanTitleItog{
    font-size: 2vw;
    margin-bottom: 1vh;
    margin-left: 13vw; 
}
.borderBottom{
    border-bottom: 2px solid black;
}
.borderTop{
    border-top: 2px solid black;
}
.borderRight{
    border-right: 2px solid black;
}

.tdtime:hover{
    cursor:pointer;
    background-color: beige;
}
.oneColumn{
    width: 5vw;
}
.twoColumn{
    width: 25vw;
}
.threeColumn{
    width: 15vw;
}
.fourColumn{
    width: 15vw;
}
.fiveColumn{
    width: 15vw;
}
.sixColumn{
    width: 15vw;
}
.sevenColumn{
    width: 5vw;
}
.divWithButtons{
    margin-left: 13vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media print{
    body{
        visibility: hidden;
    }
    .print{
        visibility: visible;
        font-size: small;
        margin-left: 10%;
        margin-bottom: 10%; 
    }
}




