input, button{
    font-size: 0.7vw;
}
.thRaport{
    border: 1px solid black;
    text-align: center;
    width: 3vw;
}
.mainRaportCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.raportCont{
    margin-top: 3vh;
    display: flex;
    width: 92vw;
    justify-content: space-between ;
    align-items: center;
    flex-direction: row;
}
.raportFirstTable{
    width: 50vw;
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 0.8vw;
    margin-top: 1vh;
}
.raportSecondTable{
    width: 40vw;
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 0.8vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}


.divWithInputDateAndTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 40vw;
    font-size: 0.8vw;
    margin-bottom: 1.5vh;
}
.divWithInputDateTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 23vw;
}
.avarijaOshVspTextarea{
    width: fill-available;
    height: 6vh;
    resize: none;
    font-size: 0.8vw;
    text-align: center;
    
}
.remontTextarea{
    width: fill-available;
    height: 8.5vh;
    resize: none;
    font-size: 0.8vw;
    text-align: center;
}
.inputInRightTable{
    width: 2vw;
    height: 1.1vh;
    text-align: center;
    font-size: 0.7vw;
}

.inputInLeftTable{
    width: 8vw;
    height: 1.1vh;
    text-align: center;
    font-size: 0.7vw;
}




